= simple_form_for(@asset) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :service_tag
    = f.input :manufacturer
    = f.input :model
    = f.input :express_service_code
    = f.input :tag
    = f.input :purchase_date
    = f.input :purchase_entity

  .form-actions
    = f.button :submit
